<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Add new Comment <%= campground.name %></h1>
        </div>

        <div style="margin: 20px auto; width: 40%;">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="text" placeholder="Text">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="author" placeholder="Author">
                </div>

                <div class="form-group">
                    <button class="btn btn-block btn-primary">Submit!</button>
                </div>


            </form>

            <a href="/campgrounds">Go Back</a>
        </div>

    </div>

</div>


<%- include("../partials/footer") %>